<p-dialog
  header="Ajouter un Bar"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '30rem' }"
  (onHide)="cancel()"
>
  <form [formGroup]="barForm" (ngSubmit)="saveBar()">
    <div class="p-fluid ya">
      <div class="p-field yo">
        <label for="nom">Nom</label>
        <input id="nom" type="text" formControlName="nom" />
      </div>
      <div class="p-field yo">
        <label for="adresse">Adresse</label>
        <input id="adresse" type="text" formControlName="adresse" />
      </div>
      <div class="p-field yo">
        <label for="tel">Tel</label>
        <input id="tel" type="text" formControlName="tel" />
      </div>
      <div class="p-field yo">
        <label for="email">Email</label>
        <input id="email" type="text" formControlName="email" />
      </div>
      <div class="p-field yo">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>
    </div>

    <div class="btn-modal">
      <p-button label="Annuler" severity="secondary" (click)="cancel()" />
      <p-button label="Enregistrer" (click)="saveBar()" />
    </div>
  </form>
</p-dialog>
