.p-card {
  .w-full {
    object-fit: contain;
  }
}

.btn-card {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 15px;
}
