<div class="filter-container">
  <input
    type="text"
    [(ngModel)]="searchCity"
    placeholder="Rechercher par ville"
  />
  <p-button (click)="filterByCity()">Filtrer</p-button>

  <input
    type="text"
    [(ngModel)]="searchName"
    placeholder="Rechercher par nom"
  />
  <p-button (click)="filterByName()">Filtrer</p-button>

  <p-button class="reset" (click)="resetFilters()">Réinitialiser</p-button>
  <div class="add-bar-btn">
    <p-button class="btn-" label="Ajouter un Bar +" (click)="addBar()" />
  </div>
</div>

<app-bar-add-model
  [visible]="visibleAdd"
  (close)="visibleAdd = false"
  (barAdded)="onBarAdded($event)"
></app-bar-add-model>

<div class="bar-container">
  <app-card
    *ngFor="let bar of bars"
    [bars]="bar"
    (edit)="editBar(bar.id)"
  ></app-card>
</div>

<app-bar-edit-model
  [visible]="visibleEdit"
  [bar]="selectedBar"
  (close)="visibleEdit = false; selectedBar = null"
  (barUpdated)="onBarUpdated($event)"
  (barDeleted)="onBarDeleted($event)"
></app-bar-edit-model>
