.bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 20px;
}
.add-bar-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
